name: Generate ASCII Artwork with full steps

on:
  push

jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
    - name: checkout Repo
      uses: actions/checkout@v6.0.1

    - name: List Repo Files
      run: ls -ltra
    
    - name: Executing Shell Script
      run: |
        chmod +x ascii-script.sh
        ./ascii-script.sh
    


